body{
display: grid;
place-items: center;
padding: 0;
margin: 0;
}
main{
    display: grid;
    width: 50%;
    background-color: pink;
    padding: 15px;
}
.intro > img{
 height: 20rem;  
 width: 100%; 
}

.input_field{
    display: flex;
    flex-direction: column;
}
.input_field > input{
    height: 2rem;
    background-color: green;
    color: dodgerblue;
    border-radius: 5px;
}
button{
    border: none;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
}